.listItem {
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 10px;
    background-color: white;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: end;
}

