.wrapper {
    width: 400px;
    padding: 10px;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 10px;
}

.img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
