.wrapper {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1px;
    background-color: #008bea;
    color: white;

}